.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}

.category-title{
  margin-bottom: 25px;
  font-size: 38px;
  text-align: center;
}
